@model ServiceResponse<AppUser>
@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" type="text/css" />
}

<div class="text-center w-75 m-auto mt-3">
    <!-- Button trigger modal -->
        <section class="bg-body-tertiary">
            <img class="img-fluid p-3" src="@Model.Data.ProfilePictureURL" alt="Card image cap" width="500">
        </section>

        <section class="text-dark bg-body-tertiary mb-3 mt-3 m-auto">
            <h2 class="card-header mb-2">@Model.Data.NickName</h2>
            <p class="">@Model.Data.Photos.Count() Photo(s)</p>
            <p class="">@Model.Data.Albums.Count() Allbum(s)</p>
            <p class="">Member since: @Model.Data.DateCreated.Year</p>
        </section>
</div>