@using SocialPhotoAppMVC.ViewModels
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Identity
@model ServiceResponse<AppUserProfileDTO>
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" type="text/css" />
}
@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center w-75 m-auto mt-3">
    @*Profile Image*@
    <section class="bg-body-tertiary">
        <img class="img-fluid p-3 rounded-circle" src="@Model.Data.ProfilePictureURL" alt="Card image cap" width="300">
    </section>

    @* User Info *@
<section class="text-dark bg-body-tertiary mb-3 mt-3 m-auto">
    @if (Model.Data.NickName.Length != 0)
    {
        <h1 class="card-header mb-4">@Model.Data.NickName</h1>
    }
    else
    {
        <h1 class="card-header mb-4">@User.Identity.Name</h1>
    }

    @if (Model.Data.Photos == null)
    {
        <span class="me-5">0 Photo(s)</span>
    }
    else
    {
        <span class="me-5">@Model.Data.Photos.Count() Photo(s)</span>
    }

    @if (Model.Data.Albums == null)
    {
        <span class="me-5">0 Album(s)</span>
    }
    else
    {
        <span class="me-5">@Model.Data.Albums.Count() Album(s)</span>
    }
    <span class="">Member since: @Model.Data.DateCreated.Year</span>
</section>

    @* Albums *@
    <div class="album py-3 bg-body-tertiary">
        <div class="container">
            <h3 class="text-center mb-4">Albums</h3>
            @if (Model.Data.Albums != null)
            {
                <div class="row">
                    @foreach (var item in Model.Data.Albums)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a asp-controller="Album" asp-action="AlbumDetail" asp-route-id="@item.Id">
                                    <img class="card-img-top" src="@item.CoverArtUrl" width="100% height="225" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-text text-center rounded-2 bg-body-secondary">@item.Title</h4>
                                    <p class="card-text text-center">@item.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model.Data.Albums, albumsPage => Url.Action("UserProfile", new { id = Model.Data.UserId, albumsPage, photosPage = Model.Data.Photos.PageNumber }))
            }


        </div>
    </div>

    @* Photos *@
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <h3 class="text-center mb-4">Photo Stream</h3>
            @if (Model.Data.Photos != null)
            {
                <div class="row">
                    @foreach (var item in Model.Data.Photos)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a asp-controller="Photo" asp-action="PhotoDetail" asp-route-id="@item.Id">
                                    <img class="card-img-top" src="@item.ImageUrl" width="100% height="225" alt="photo thumbnail">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-text text-center rounded-2 bg-body-secondary">@item.Title</h4>
                                    <p class="card-text text-center">@item.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model.Data.Photos, photosPage => Url.Action("UserProfile", new { id = Model.Data.UserId, albumsPage = Model.Data.Albums.PageNumber, photosPage }))
            }
        </div>
    </div>
</div>