@model AppUser
@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" type="text/css" />
}



<div class="wrapper" role="region" tabindex="0">
    <table class="table">
        <thead>
            <tr class="table__cell">
                <th class="table__headCell"><img src="@Model.ProfilePictureURL" alt="Alternate Text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table__cell"><h3>@Model.NickName</h3></td>
            </tr>
            <tr>
                <td class="table__cell"><p>@Model.NormalizedUserName</p></td>
            </tr>
            <tr>
                <td class="table__cell"><p>@Model.Photos.Count() Photos</p></td>
            </tr>
            <tr>
                <td class="table__cell"><p>X Groups</p></td>
            </tr>
            <tr>
                <td class="table__cell">@Model.DateCreated.Year</td>
            </tr>
        </tbody>
    </table>
</div>