@using X.PagedList.Mvc.Core
@model ServiceResponse<X.PagedList.IPagedList<Photo>>
@{
    ViewData["Title"] = "Recent Photos";
}

<div class="album py-3 bg-body-tertiary">
    <div class="container">
        <h1 class="text-center mb-4">Recent photos</h1>
        <div class="row">
            @foreach (var item in Model.Data)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <a asp-controller="Photo" asp-action="PhotoDetail" asp-route-id="@item.Id">
                            <img class="card-img-top" src="@item.ImageUrl" width="100% height="225" alt="photo thumbnail">
                        </a>
                        <div class="card-body">
                            <p class="card-text p-0 m-0 mb-3 text-center rounded-2 bg-body-secondary">@item.User.NickName</p>
                            <h4 class="card-text text-center">@item.Title</h4>
                            <p class="card-text text-center">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager(Model.Data, page => Url.Action("Index", new { page }))
    </div>
</div>