@model ServiceResponse<Photo>

<div class="text-center w-75 m-auto mt-5">
    @* Modal button *@
    <section type="button" class="text-center" data-bs-toggle="modal" data-bs-target="#zoomPhoto">
        <section class="bg-dark">
            <img class="img-fluid p-3" src="@Model.Data.ImageUrl" alt="Card image cap" width="500">
        </section>
    </section>
    @* Photo Details *@
    <section class="text-dark card bg-body-secondary mb-3 mt-3 m-auto">
        <h2 class="card-header">@Model.Data.Title</h2>
        <div class="card-body bg-white">
            <h4 class="">Author: @Model.Data.User.NickName</h4>
            <p class="">Description: @Model.Data.Description</p>
            <p class="">Category: @Model.Data.Category</p>
            <p class="">Upload Date: @Model.Data.DateCreated.ToShortDateString()</p>
        </div>
    </section>
</div>

@* Modal *@
<div class="modal fade" id="zoomPhoto" tabindex="-1" aria-labelledby="modalZoomedPhoto" aria-hidden="true">
    <div class="modal-dialog modal-lg mw-100 m-0">
        <div class="modal-body text-center">
            <img src="@Model.Data.ImageUrl" style="max-width:95vw; max-height:95vh;" alt="originalSizePhoto" />
        </div>
    </div>
</div>